body {
    background: #F3F5FC;
}

header {
    height: 100px;
}

header img {
    margin: 25px 0 0 0;
}

main {
    display: block;
}

button {
    width: 45%;
    height: 67px;
}

#desencriptar {
    margin: 0 2.5%;
}

.mensaje {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: calc(90% - 25px);
    margin: 0 0 0 15%;

}

.mensaje textarea {
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    color: #0A3871;
    font-family: Arial, Helvetica, sans-serif;
    content: Ingrese el texto aqui;
    font-size: 32px;
    width: 90%;
    margin: 10% 5% 0 5%;
}

.mensaje-codificado {
    display: inline-block;
    position: absolute;
    background: white;
    top: 25px;
    width: 27%;
    height: 90%;
    margin: 0 0 0 71%;
    border-radius: 32px;
}

.mensaje-codificado #salida {
    background: none;
    border: none;
    width: 95%;
    margin: 2.5%;
    height: 75%;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}